*{
  box-sizing: border-box;
}

.navigation{
  display: flex;
}

.navigation__item{
  text-transform: uppercase;
}

.products{
  display: flex;
  flex-wrap: wrap;
}

.product{
  display: flex;
  flex-direction: column;
}